@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Lato");
.crowfunding-section {
  font-family: 'Lato', sans-serif;
}

.crowfunding-section h2, .crowfunding-section h3 {
  font-family: Merriweather;
}

.crowfunding-section .image-fong {
  background-image: url("/img/amazonie.png");
  margin-top: 100px;
  width: 100%;
  height: 804px;
  background-position: center center;
  background-size: cover;
}

.crowfunding-section .wrapper-crowfunding {
  width: 40%;
  z-index: 5;
  position: absolute;
  height: 800px;
}

@media (max-width: 767px) {
  .crowfunding-section .wrapper-crowfunding {
    position: inherit;
    margin: 0 auto;
    width: 100%;
  }
  .crowfunding-section .wrapper-crowfunding h2 {
    font-size: 20px;
  }
}

.crowfunding-section .wrapper-crowfunding .content-body {
  padding: 80px 30px;
  color: #FFFFFF;
  background-color: #1D2622;
  opacity: 0.7;
}

.crowfunding-section .wrapper-crowfunding .content-body p {
  margin-top: 40px;
  color: lightgray;
  font-size: 1vw;
}

@media (max-width: 767px) {
  .crowfunding-section .wrapper-crowfunding .content-body p {
    font-size: 2.5vw;
  }
}

.crowfunding-section .wrapper-crowfunding .content-body h2 {
  text-align: justify;
  font-size: 18px;
  margin-top: 0;
}

.crowfunding-section .wrapper-crowfunding .content-body h2:last-of-type {
  position: relative;
  float: right;
  margin-top: 20px;
}

.crowfunding-section .wrapper-crowfunding .content-footer {
  padding: 20px;
  height: 130px;
  width: 100%;
  color: #FFFFFF;
  background-color: #1D2622;
  opacity: 0.9;
  text-align: center;
}

.crowfunding-section .wrapper-crowfunding .content-footer h3 {
  margin-top: 0;
}

.crowfunding-section .wrapper-crowfunding .content-footer h3 {
  opacity: 1;
  font-size: 16px;
}

.crowfunding-section .wrapper-crowfunding .content-footer .amount-raised-two {
  display: inline-block;
  margin-right: 10px;
}

.crowfunding-section .wrapper-crowfunding .content-footer .amount-goal-two {
  display: inline-block;
  margin-left: 10px;
}

.crowfunding-section .wrapper-crowfunding .content-footer .goal-container-two {
  width: 65%;
  height: 15px;
  border-radius: 15px;
  /*border: solid 1px white;*/
  display: inline-block;
  vertical-align: text-top;
}

.crowfunding-section .wrapper-crowfunding .content-footer .goal-container-two .goal-bar-two {
  max-width: 100%;
  width: 0%;
  background: white;
  height: 100%;
  border-radius: 15px;
}

.crowfunding-section .wrapper-crowfunding .content-footer .goal-container-two .goal-button-two {
  border: 1px solid white;
  background: transparent;
  color: white;
}

@media (max-width: 767px) {
  .crowfunding-section .wrapper-crowfunding .content-footer .goal-container-two .goal-button-two {
    float: none;
    margin: 20px auto;
    width: 60%;
    display: block;
  }
}

.crowfunding-section .wrapper-crowfunding .content-footer .goal-container-two .goal-button-two:hover {
  background: rgba(173, 173, 173, 0.6);
}

.crowfunding-section .wrapper-crowfunding .content-footer .goal-container-two .fiscal {
  display: block;
  color: #fff;
  position: relative;
  top: 0.3vw;
  text-decoration: none;
}

/*# sourceMappingURL=crowfunding.css.map */
