.explications-section {
  margin-top: 5vw;
}

.explications-section .in-some-word {
  margin-bottom: 17vw;
  position: relative;
  display: table;
}

.explications-section .in-some-word .yellow-background {
  z-index: -1;
  background-color: #FFF0D5;
  width: 64vw;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 10vw;
  bottom: 13vw;
}

.explications-section .in-some-word .left-some-word, .explications-section .in-some-word .right-some-word {
  z-index: 3;
  display: table-cell;
  width: 70%;
}

.explications-section .in-some-word .left-some-word {
  padding-left: 9vw;
  padding-right: 3vw;
  width: 53%;
}

.explications-section .in-some-word .left-some-word .title {
  font-family: 'Merriweather';
  font-size: 2.6vw;
  color: #5C5953;
}

.explications-section .in-some-word .left-some-word .first-paragraph {
  margin-top: 30px;
  font-size: 1.3vw;
  font-family: 'Lato';
  color: #4A4A4A;
}

.explications-section .in-some-word .left-some-word .second-paragraph {
  color: #605B52;
  font-family: 'Lato';
  font-size: 1.6vw;
  word-spacing: 0.3vw;
  font-style: italic;
  line-height: 3vw;
  margin-top: 30px;
}

.explications-section .in-some-word .left-some-word .second-paragraph .sign {
  margin-top: 15px;
  display: block;
}

.explications-section .in-some-word .right-some-word {
  position: relative;
}

.explications-section .in-some-word .right-some-word .image-right {
  position: absolute;
  right: 0;
  top: -5vw;
  width: 90%;
  background-image: url(/img/some_words.jpg);
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10%;
}

.explications-section .our-view {
  height: 25vw;
  position: relative;
}

.explications-section .our-view i {
  position: absolute;
  right: 7vw;
  top: 3vw;
  font-size: 1.4vw;
  color: #5C5953;
}

.explications-section .our-view .title {
  color: #5C5953;
  margin-left: 5vw;
  font-family: 'Merriweather';
  font-size: 2.1vw;
  position: absolute;
  top: -35px;
}

.explications-section .our-view .block-view {
  padding: 3vw;
  text-align: center;
}

.explications-section .our-view .block-view .title-div {
  font-style: italic;
  font-family: 'Merriweather';
  font-size: 2vw;
  text-align: left;
  padding-left: 2vw;
  width: 30vw;
}

.explications-section .our-view .block-view .description {
  font-style: italic;
  text-align: left;
  margin-top: 15px;
  font-size: 1.2vw;
  font-family: 'Lato';
  padding-right: 3vw;
  padding-left: 2vw;
  color: #5C5953;
}

.explications-section .our-view .first {
  width: 30vw;
  bottom: 0px;
  left: 0px;
  background-color: #E0FBF3;
  position: absolute;
  z-index: -1;
}

.explications-section .our-view .first .title-div {
  color: #A6B9B3;
}

.explications-section .our-view .first .description {
  color: #84908C;
}

.explications-section .our-view .second {
  margin-left: 27vw;
  height: 30vw;
  bottom: -1vw;
  width: 36vw;
  background-color: #E0F2F7;
  position: absolute;
}

.explications-section .our-view .second .title-div {
  color: #7E949A;
}

.explications-section .our-view .second .description {
  color: #718285;
  width: 25vw;
}

.explications-section .our-view .third {
  width: 28vw;
  bottom: -1vw;
  background-color: #FFF0D5;
  margin-left: 60vw;
  position: absolute;
}

.explications-section .our-view .third .title-div {
  color: #B0A592;
}

.explications-section .our-view .third .description {
  padding-right: 1vw;
  color: #958B78;
}

.explications-section .bottom-our-view {
  height: 17.5vw;
  width: 100%;
  background-image: url(/img/bottom_our_view.jpg);
  background-size: cover;
}

.explications-section .to-take {
  margin-top: 6vw;
  padding-left: 7vw;
  padding-right: 7vw;
}

.explications-section .to-take hr {
  height: 2px;
  background-color: #5C5953;
  display: block;
  width: 5vw;
  margin: 0;
}

.explications-section .to-take .before {
  display: table-row;
}

.explications-section .to-take .before .title {
  color: #5C5953;
  font-family: 'Merriweather';
  font-size: 2vw;
}

.explications-section .to-take .before .description-take {
  margin-top: 10px;
}

.explications-section .to-take .before .description-take p {
  margin: 0;
}

.explications-section .to-take .after {
  display: table;
  margin-top: 80px;
}

.explications-section .to-take .after .left-first {
  display: table-cell;
  width: 50%;
  position: relative;
}

.explications-section .to-take .after .left-first .background-red {
  width: 30vw;
  height: 30vw;
  background-color: #F3374E;
  position: absolute;
  top: -5vw;
  left: 0px;
}

.explications-section .to-take .after .left-first .image-first {
  opacity: 0;
  height: 29vw;
  position: absolute;
  top: 10vw;
  left: 2vw;
  background: url(/img/to_take_first.jpg);
  background-size: cover;
  background-position: center;
  width: 36vw;
}

.explications-section .to-take .after .right-first {
  display: table-cell;
  width: 50%;
  position: relative;
}

.explications-section .to-take .after .right-first .container-right {
  opacity: 0;
  width: 83%;
  margin-left: auto;
  position: relative;
  bottom: 5vw;
}

.explications-section .to-take .after .right-first .container-right .title-right-first {
  font-family: 'Merriweather';
  font-size: 2vw;
  margin-bottom: 30px;
}

.explications-section .to-take .after .right-first .container-right p {
  word-spacing: 5px;
  width: 37vw;
}

.explications-section .to-take .after .right-first .container-right ul {
  margin: 0 auto;
  margin-top: 25px;
  width: 80%;
}

.explications-section .to-take .after .right-first .container-right ul li {
  list-style: initial;
  margin-top: 5px;
}

.explications-section .to-take .after2 {
  display: table;
  margin-top: 80px;
}

.explications-section .to-take .after2 .left-first {
  display: table-cell;
  width: 50%;
  position: relative;
}

.explications-section .to-take .after2 .left-first .background-red {
  width: 30vw;
  height: 30vw;
  background-color: #BFDAC4;
  position: absolute;
  top: -5vw;
  left: 0px;
}

.explications-section .to-take .after2 .left-first .image-first {
  opacity: 0;
  height: 29vw;
  position: absolute;
  top: 15vw;
  left: 2vw;
  background: url(/img/mamadou.png);
  background-size: cover;
  background-position: center;
  width: 36vw;
}

.explications-section .to-take .after2 .right-first {
  display: table-cell;
  width: 50%;
  position: relative;
}

.explications-section .to-take .after2 .right-first .container-right {
  opacity: 0;
  width: 83%;
  margin-left: auto;
  position: relative;
  bottom: 5vw;
}

.explications-section .to-take .after2 .right-first .container-right .title-right-first {
  font-family: 'Merriweather';
  font-size: 2vw;
  margin-bottom: 30px;
}

.explications-section .to-take .after2 .right-first .container-right p {
  word-spacing: 5px;
  width: 85%;
}

.explications-section .to-take .after2 .right-first .container-right ul {
  margin: 0 auto;
  margin-top: 25px;
  width: 80%;
}

.explications-section .to-take .after2 .right-first .container-right ul li {
  list-style: initial;
  margin-top: 5px;
}

.explications-section .to-take .numbers-objectives {
  display: table;
}

.explications-section .to-take .numbers-objectives .left-second {
  height: 40vw;
  display: table-cell;
  width: 50%;
  float: left;
}

.explications-section .to-take .numbers-objectives .left-second .container-left {
  opacity: 0;
  margin-top: 8vw;
}

.explications-section .to-take .numbers-objectives .left-second .container-left .title-left-second {
  font-family: 'Merriweather';
  font-size: 2vw;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.explications-section .to-take .numbers-objectives .right-second {
  display: table-cell;
  width: 50%;
  float: right;
  position: relative;
}

.explications-section .to-take .numbers-objectives .right-second .image-second {
  opacity: 0;
  position: absolute;
  right: 2vw;
  top: 20vw;
  background: url(/img/to_take_second.jpg);
  background-size: cover;
  background-position: center;
  width: 30vw;
  height: 37vw;
}

.explications-section .to-take .numbers-objectives .right-second .background-green {
  position: absolute;
  width: 28vw;
  height: 35vw;
  background-color: #B0E0C1;
  right: 0px;
  top: -2vw;
  z-index: -1;
}

.explications-section .to-take .numbers-objectives ul {
  width: 90%;
  margin: 0 auto;
}

.explications-section .to-take .numbers-objectives ul li {
  list-style: initial;
}

.explications-section .to-take .numbers-objectives2 {
  display: table;
}

.explications-section .to-take .numbers-objectives2 .left-second {
  height: 40vw;
  display: table-cell;
  width: 50%;
  float: left;
}

.explications-section .to-take .numbers-objectives2 .left-second .container-left {
  opacity: 0;
  margin-top: 8vw;
}

.explications-section .to-take .numbers-objectives2 .left-second .container-left p {
  word-spacing: 5px;
  width: 85%;
}

.explications-section .to-take .numbers-objectives2 .left-second .container-left .title-left-second {
  font-family: 'Merriweather';
  font-size: 2vw;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.explications-section .to-take .numbers-objectives2 .right-second {
  display: table-cell;
  width: 50%;
  float: right;
  position: relative;
}

.explications-section .to-take .numbers-objectives2 .right-second .image-second {
  opacity: 0;
  position: absolute;
  right: 2vw;
  top: 15vw;
  background: url(/img/pompe.png);
  background-size: cover;
  background-position: center;
  width: 36vw;
  height: 29vw;
}

.explications-section .to-take .numbers-objectives2 .right-second .background-green {
  position: absolute;
  width: 32vw;
  height: 27vw;
  background-color: #CC92FF;
  right: 0px;
  top: -1vw;
  z-index: -1;
}

.explications-section .to-take .numbers-objectives2 ul {
  width: 90%;
  margin: 0 auto;
}

.explications-section .to-take .numbers-objectives2 ul li {
  list-style: initial;
}

/*# sourceMappingURL=explications.css.map */
