@import url("https://fonts.googleapis.com/css?family=Merriweather");
.home-page {
  /*MAIN ANNIMATION SECTION*/
  font-family: 'Lato';
  /*END MAIN ANNIMATION SECTION*/
  font-family: lato;
}

.home-page .fixed-indicator {
  position: fixed;
  top: 100px;
  height: 1px;
  width: 3px;
  background: black;
  z-index: 3;
}

.home-page .main-annimation {
  height: 50vw;
  padding: 25px 0;
  display: table;
  width: 100%;
}

.home-page .main-annimation .left {
  display: table-cell;
  width: 50vw;
  height: 100%;
}

.home-page .main-annimation .left .maps-container {
  position: relative;
  left: 8vw;
}

.home-page .main-annimation .left .maps-container img {
  width: 60%;
}

.home-page .main-annimation .left .maps-container .africa-map {
  position: absolute;
  top: 100px;
}

.home-page .main-annimation .left .maps-container .africa-shadow {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: -2;
}

.home-page .main-annimation .right {
  /*
      display: table-cell;
      */
  width: 50vw;
  height: 100%;
}

.home-page .main-annimation .right .annim {
  height: 40vw;
  position: absolute;
  right: -460px;
  background: url("/img/annimation/right-1.png") no-repeat;
  background-size: contain;
  background-position: right;
}

.home-page .main-annimation .right .annim .anim-text {
  padding: 1vw;
  background: white;
  top: 6vw;
  /*right: 6vw;*/
  display: block;
  width: 30vw;
  position: relative;
}

.home-page .main-annimation .right .annim .anim-text p {
  font-size: 2vw;
}

.home-page .main-annimation .right .annim .anim-text span {
  font-size: 7vw;
}

.home-page .video-conainer {
  width: 100%;
}

.home-page .video-conainer video {
  width: 100%;
}

.home-page .video-conainer .text-video {
  position: absolute;
  top: 30vw;
  padding: 0 8%;
  margin: 0 auto;
  color: white;
}

.home-page .video-conainer .text-video h2 {
  font-family: 'Merriweather';
  font-size: 28px;
}

@media (max-width: 767px) {
  .home-page .video-conainer .text-video {
    position: absolute;
    top: 10vw;
  }
}

.home-page .video-conainer .text-video .right-text-video {
  position: absolute;
  bottom: 0;
  right: 50px;
}

@media (max-width: 767px) {
  .home-page .video-conainer .text-video .right-text-video {
    position: relative;
  }
}

.home-page .video-conainer .text-video .right-text-video .goal-container {
  width: 100%;
  height: 15px;
  border-radius: 15px;
  border: solid 1px white;
}

.home-page .video-conainer .text-video .right-text-video .goal-container .goal-bar {
  max-width: 100%;
  width: 0%;
  background: white;
  height: 100%;
  border-radius: 15px;
}

.home-page .video-conainer .text-video .right-text-video .goal-container .goal-button {
  border: 1px solid white;
  background: transparent;
  color: white;
  float: right;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .home-page .video-conainer .text-video .right-text-video .goal-container .goal-button {
    float: none;
    margin: 20px auto;
    width: 60%;
    display: block;
  }
}

.home-page .video-conainer .text-video .right-text-video .goal-container .goal-button:hover {
  background: rgba(173, 173, 173, 0.6);
}

.home-page .para {
  color: blue;
}

@media (max-width: 767px) {
  .home-page .para {
    color: green;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-page .para {
    color: red;
  }
}

/*# sourceMappingURL=homepage.css.map */
