@import "sizes";

.admin-page {

  //Début des actualités
  .news {
    .add-new-btn {
      margin-bottom: 25px;
    }
    .metric {
      a {
        button {
          color: white;
        }
      }
      .actions {
        float: right;
      }
      .image-new{
        height: 50px;
        width: 100px;
        background-image: url('https://www.visoterra.com/images/original/un-puit-entre-teli-et-ende-visoterra-15463.jpg');
        background-size: cover;
      }
    }
  }
  // Fin des Actualités

  #wrapper {
    .sidebar {
      left: -280px;
      @include desktop(){
        left: 0px;
      }
      .brand {
        a {
          img {
            margin: 0 auto;
            max-width: 50%;
          }
        }
      }
      z-index: 2;
    }

    .burger-open {
      position: absolute;
      top: 14px;
      left: 30px;
      z-index: 1;
      cursor: pointer;

      @include desktop() {
        display: none;
      }

      span {
        font-size: 30px;
      }
    }

    .burger-close {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      cursor: pointer;

      @include desktop() {
        display: none;
      }

      span {
        font-size: 30px;
        color: #AEB7C2;
      }
    }

  }

  .main {
    width: 100% !important;
    @include desktop(){
      width: calc(100% - 260px) !important;
    }
    .main-content {
      .container-fluid {
        .panel {
          margin-top: 30px;

          @include desktop() {
            margin-top: 0;
          }
          .text-input {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
