.admin-page{


  //Début des actualités
  .news{
    .add-new-btn{
      margin-bottom: 25px;
    }
    .metric{
      a{
        button{
          color: white;
        }
      }
      .actions{
        float: right;
      }
    }
  }
  // Fin des Actualités
}
