@import "sizes";

.admin-page{


  //Début des actualités
  .news{
    .add-new-btn{
      margin-bottom: 25px;
    }
    .metric{
      a{
        button{
          color: white;
        }
      }
      .actions{
        float: right;
      }
    }
  }
  // Fin des Actualités

  #wrapper {
    .sidebar {
      .brand {
        a {
          img {
            margin: 0 auto;
            max-width: 50%;
          }
        }
      }
      z-index: 2;
    }

    .burger-open {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;

      @include desktop() {
        display: none;
      }

      span {
        font-size: 30px;
        top: 14px;
        left: 30px;
      }
    }

    .burger-close {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;

      @include desktop() {
        display: none;
      }

      span {
        font-size: 30px;
        color: #AEB7C2;
        top: 10px;
        left: 10px;
      }
    }

  }

  .main {
    .main-content {
      .container-fluid {
        .panel {
          margin-top: 30px;

          @include desktop() {
            margin-top: 0;
          }
        }
      }
    }
  }
}
