@import "sizes";
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lato');

.contact-section {
  margin: 200px 0;
  color: #5C5953;
  .goute-1, .goute-2 {
    background-image: url("/img/annimation/goute-large.png");
    background-size: cover;
    background-position: center center;
    position: absolute;
  }
  .goute-1 {
    width: 119px;
    height: 159px;
    margin-left: 386px;
    margin-top: -80px;
    z-index: -1;

  }
  .goute-2 {
    width: 45px;
    height: 60px;
    margin-left: 335px;
    margin-top: 40px;
    z-index: -1;
  }
  .content-contact {
    height: 425px;
    width: 620px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    margin-bottom: 80px;
    font-family: merriweather;
  }
  p {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .content-contact {
    .formulaire-contact {
      .top-contact {
        width: 100%;
        margin: 0 auto;
        .surname-contact {
          display: inline-block;
          #prenom {
            display: block;
            border: none;
            border-bottom: 1px solid lightgrey;
          }
        }
        .name-contact {
          display: inline-block;
          margin-left: 218px;
          #nom {
            display: block;
            border: none;
            border-bottom: 1px solid lightgrey;
          }
        }
      }
      .email {
        display: block;
        margin-top: 50px;
        #courriel {
          display: block;
          border: none;
          border-bottom: 1px solid lightgrey;
        }
      }
      .message {
        display: block;
        margin-top: 30px;
        #message {
          display: block;
          border: none;
          border-bottom: 1px solid lightgrey;
        }
      }
      .button {
        margin-top: 30px;
        float: right;
        #button {
          border-radius: 25px;
          background-color: #53BCC6;
          border: none;
          width: 105px;
          color: white;
          font-family: Lato, sans-serif;
          box-shadow: 1px 1px 5px grey;
          span {
            margin-left: 10px;
            color: white;
          }
        }
      }
    }
  }
}
