@import "sizes";

.footer-section{
  height: 18vw;
  background-color: #EFEDE8;
  width: 100%;
  text-align: center;
  .partenaires{
    display: inline-block;
    margin-top: 3vw;

    .digital_village, .supdeco, .attineos, .hetic, .saintjacques, .accessrepro, .coworkshop{
      width: 20vw;

      @include phone() {
        width: 15vw;
      }
    }

    li{
      img{
        width: 11vw;
      }

    }
    @include phone() {
      margin: 10px 80px;
    }
    li{
      display: inline-block;

      @include phone() {
        margin-top: 10px;

      }
    }
    
    a {
      color: #b3b3b3;
    }
  }
  .liens {
    .facebook, .twitter {
      display: inline-block;
      margin-top: 10px;
      img {
        width: 30px;

        @include phone() {
          width: 20px;
        }
      }
    }
    .twitter img {
      width: 24px;
      @include phone() {
        width: 14px;
      }
    }
  }

  @include phone {
    height: 21vw;
  }
}