@import "sizes";

.home-page{
  .video-conainer{
    width: 100%;
    video{
      width: 100%;
    }
  }
    .para{
      color: blue;

      @include phone(){
        color: green;
      }

      @include tablet-only(){
        color: red;
      }

    }
}