@import "sizes";

.home-page{
  .video-conainer{

    width: 100%;
    video{
      width: 100%;
    }
    .text-video{
      position: absolute;
      top: 10vw;
      padding: 0 8%;
      margin: 0 auto;
      color: white;
    }
    .goal-container{
      width: 100%;
      height: 15px;
      border-radius: 15px;
      border: solid 1px white;
      .goal-bar{
        max-width: 100%;
        background: white;
        height: 100%;
        border-radius: 15px;
      }
    }
  }

    .para{
      color: blue;

      @include phone(){
        color: green;
      }

      @include tablet-only(){
        color: red;
      }

    }
}